<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/products/continent/아시아">아시아</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/products/continent/유럽">유럽</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/products/continent/아메리카">아메리카</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/products/continent/오세아니아">오세아니아</a></li>
				</ul>
				<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
					<li class="nav-item" sec:authorize="isAuthenticated()" >
						<form action="/member/logout.do" method="POST">
							<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
							<button class="border-0 bg-transparent nav-link active" aria-current="page">로그아웃</button>
						</form>
					</li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"  class="nav-item">
						<a class="nav-link active" aria-current="page" href="/member/adminPage">관리자페이지</a>
					</li>
					<li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
						<a class="nav-link active" aria-current="page" href="/member/myPage">마이페이지</a>
					</li>
					<li sec:authorize="anonymous" class="nav-item">
						<a class="nav-link active" aria-current="page" href="/member/main.do">로그인</a>
					</li>
					<li sec:authorize="anonymous" class="nav-item">
						<a class="nav-link active" aria-current="page" href="/member/rev_check">예약확인</a>
					</li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="/board/faq">고객센터</a></li>
				</ul>
			</div>
		</div>
	</nav>
</html>